*{
    box-sizing: border-box; 
    font-family: 'Yusei Magic', sans-serif;
    background-color: rgb(1,26,59);
    color: white;
} 

main {
max-width: 1300px;
margin: 0 auto;
line-height: 1.65;
padding: 40px 40px;
display: flex;
flex-direction: column;
align-items: center;
}

.formBox {
display: flex;
height: auto;
width: auto;
flex-direction: row;
}
h2 {
    font-size: 40px;
}

.containerBox2{
    display: flex;
    flex: 1;
    order: 2;
}
.containerBox1{
    display: flex;
    flex: 1;
    order: 3;
}

#submit{
    margin-top: 5px;
    margin-left: 39px;
}

header{
    text-align: center;
}

footer{
    text-align: center;
}

@media only screen and (max-width: 641px){
    .formBox{
        flex-direction: column;
    }
}
















